/*
 * @Author: zhengyf
 * @Date: 2018-04-07 12:44:26
 * @Last Modified by: zhengyf
 * @Last Modified time: 2018-04-07 12:44:26
 */

.page-header {
    width: 100%;

    .content-inner {
        max-width: 1200px;
        margin: 0 auto;
        background: #1686cc;
    }

    .logo {

    }

    .header-tabs {

        .header-tab {

        }
    }

    .right-block {

        .no-login {

            a {

            }
        }

        .yes-login {

        }
    }
}
